<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile List"></crx-header>
    </div>
    <mat-card *ngFor="let user of users$ | async" class="card">
        <mat-card-title-group>
            <mat-card-title>{{ user.name.first }} {{ user.name.last }}</mat-card-title>
            <img class="circle" mat-card-md-image [src]="user.picture.medium" />
        </mat-card-title-group>
        <mat-card-content>
           <span>Email: </span><span>{{ user.email }}</span>
           <mat-divider></mat-divider>
           <button mat-button color="primary" (click)="getDetails(user.login.uuid)">Details</button>
        </mat-card-content>
    </mat-card>
</crx-page>
